.mainCountdown {
  margin-bottom: 12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeForm {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startTimeInputContainer,
.endTimeInputContainer {
  padding: 0.5rem 0.8rem 0.5rem 1rem;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  position: relative;

  background-color: #FFFFFF;
  transition: box-shadow var(--transition-duration);
}

.startTimeInputContainer:focus-within,
.endTimeInputContainer:focus-within {
  box-shadow: var(--primary-box-shadow);
}

.startTimeInputContainer:before,
.endTimeInputContainer:before {
  content: '';

  position: absolute;
  z-index: -1;
  top: -0.1rem;
  left: -0.1rem;
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);

  border-radius: 0.5rem;

  background-color: var(--primary-color);
  background-image: var(--primary-gradient);
}

.dateTimePicker {
  margin-left: 0.2rem;
  font-size: 1.4rem;
}

.dateTimePicker.hidden {
  visibility: hidden;
}

.calendarIcon {
  width: 2.3rem;
  height: 2.3rem;
}

.XMark {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.1rem;
}

.middleIconsContainer {
  position: relative;
}

.arrowIcon {
  width: 14rem;
  height: 2.4rem;

  margin: 0 2rem;
}

.hourglass {
  width: 2.7rem;
  height: 2.7rem;
  padding: 0.4rem;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 14px #FFFFFF;
}

.nowLabelContainer {
  padding: 0.5rem 0.8rem 0.5rem 1rem;
  border: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  outline: none;

  background-color: transparent;
  transition: box-shadow var(--transition-duration);
}

.nowLabelContainer:hover {
  cursor: pointer;
  box-shadow: var(--primary-box-shadow);
}

.nowLabelContainer:active {
  box-shadow: 0px 0px 5px 1px var(--primary-color);
}

.nowLabelContainer.hidden {
  display: none;
}

.nowLabel {
  width: 28rem;
  margin-left: 1rem;
  padding: 0.3rem 0 0.5rem;

  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  color: var(--primary-color-dark);
}
