.timeRangeForm {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--primary-color-dark);
}

.timeRangeForm.verticalLayout {
  flex-direction: column;
}

.timeRangeForm.verticalLayout > .startTimeInputContainer {
  margin-bottom: 3.5rem;
}

.timeRangeForm.verticalLayout > .endTimeInputContainer {
  margin-top: 3.5rem;
}

.middleIconsContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timeRangeForm.verticalLayout .middleIconsContainer {
  transform: rotate(90deg);
}

.animatedArrow {
  margin: 0 2rem;
}

.hourglass {
  width: 2.7rem;
  height: 2.7rem;
  padding: 0.4rem;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 14px #FFFFFF;
}

.timeRangeForm.verticalLayout .hourglass {
  width: 2.3rem;
  height: 2.3rem;

  transform: translate(-50%, -50%) rotate(-90deg);

  box-shadow: 0px 0px 4px 3px #FFFFFF;
}
