.circularLoadingIcon {
  width: 2.7rem;
  height: 2.7rem;

  animation: loading-rotation infinite cubic-bezier(0.27, 0.55, 0.72, 0.62);
  animation-duration: 1.6s;

  fill: var(--primary-color-dark);
  opacity: 0.7;
}

@keyframes loading-rotation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(1080deg);
  }
}
